body {
  background-color: #222222;
  color: #dddddd;
  font-family: "Raleway Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  animation: startupBlur 0.25s ease-out;
}

@keyframes startupBlur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

h1 {
  font-size: 35px;
  padding: 10px 0;
  margin: 0;
}

header,
footer {
  width: 100%;
  text-align: center;
}

footer {
  font-size: 15px;
}

a {
  color: rgba(255, 255, 0, 0.6);
  text-decoration: none;
}

button {
  font-family: "Raleway Dots", sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  background: #666666;
  outline: transparent;
  letter-spacing: 2px;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  min-width: 100%;
  min-height: 45px;
  padding: 14px 14px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%, 0 calc(100% - 10px));
}

button:hover {
  background-color: rgba(255, 255, 0, 0.6);
}

input:disabled,
button:disabled,
select:disabled {
  color: #666666;
  background-color: #363636;
  cursor: wait;
}

input,
select {
  /* TODO: reuse local font */
  font-family: "Raleway Dots", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #eeeeee;
  letter-spacing: 2px;
  border: 0;
  border-radius: 3px;
  padding: 0 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%, 0 calc(100% - 10px));
}

input[type="number"],
input[type="text"],
select {
  min-height: 45px;
}

input[type="number"] {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}

input[type="text"] {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

input[type="file"] {
  display: none;
}

select {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="%23666666" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 5px center;
  background-color: #eeeeee;
}

input:focus,
button:focus,
select:focus {
  box-shadow: inset 0px 0px 0 3px rgba(69%, 69%, 0%, 0.5);
  outline: none;
}

.container {
  display: flex;
  width: 100%;
}

.left-column,
.right-column {
  flex: 1;
  position: relative;
}

.left-column {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  width: 300px;
  max-width: 300px;
  padding: 10px 20px;
  max-height: 100vh;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .left-column {
    height: 75vh;
    min-height: 75vh;
  }

  .right-column {
    width: unset;
    max-width: 100%;
    overflow-y: unset;
  }
}

.row {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#image-canvas {
  width: 100%;
  height: 100%;
}

#loading-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.2);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #333;
  transition: opacity 0.5s ease;
}

#loading-mask #loading-mask-text {
  background-color: rgba(255, 255, 0, 0.9);
  padding: 5px 10px;
  border-radius: 3px;
}

#loading-mask #loading-mask-text::before,
#loading-mask #loading-mask-text::after {
  content: " ";
  animation: dots 3s steps(1, end) infinite;
}

@keyframes dots {
  0% {
    content: " ";
  }
  25% {
    content: " . ";
  }
  50% {
    content: " . . ";
  }
  75% {
    content: " . . . ";
  }
}

.arrows {
  justify-content: center;
  color: #444444;
  font-size: 11px;
}

::selection {
  background-color: rgba(69%, 69%, 0%, 0.3);
}
